<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   
    "-//mybatis.org//DTD Mapper 3.0//EN"  
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.watermelon.mapper.TagMapper">

	<sql id="columns">
		 name,createTime,isDeleted
	</sql>

	<insert id="insert" parameterType="Tag">
		insert into tag(
		<include refid="columns"></include>
		)
		values(#{name},#{createTime},#{isDeleted});
	</insert>


	<update id="delete" parameterType="Tag">
		update tag set isDeleted=true
		<where>
			<if test="id!=null and id!=''">and id=#{id}</if>
			<if test="name!=null and name!=''">and name=#{name}</if>
			<if test="createTime!=null and createTime!=''">and createTime=#{createTime}</if>
		</where>
	</update>



	<update id="update" parameterType="Tag">
		update tag set
		name=#{name},createTime=#{createTime}
		<where>
			<if test="id!=null and id!=''">and id=#{id}</if>
		</where>
	</update>

	<select id="select" parameterType="Tag" resultType="Tag">
		select *from
		<where>
			<if test="id!=null and id!=''">and id=#{id}</if>
			<if test="name!=null and name!=''">and name=#{name}</if>
			<if test="createTime!=null and createTime!=''">and createTime=#{createTime}</if>
			<if test="isDeleted!=null and isDeleted!=''">and isDeleted=#{isDeleted}</if>
		</where>
	</select>
</mapper>