tools/certs
/certs/
**/my_tools/**
*.iml
*/.gradle
*/local.properties
**/.idea/**
*/.DS_Store
*/build
*/captures
/temp
/logs
.checkstyle
.classpath
.project
.class
.war
.zip
.rar
**/.settings/**
**/indexes/*
**/target/*
**/src/main/webapp/WEB-INF/classes/*
**/src/main/webapp/userfiles/*
**/target/**
.git/*
**/out/**
**/nohup.txt
**/nohup.out
*.swp
*.eml
**/bin/**
**/plclient/report/**

tags
