/* countdown */
ul.countdown {
    width:500px;
    height:80px;
    list-style: none;
    display: block;
    text-align: center;
}

ul.countdown li {
    display: inline-block;
}

ul.countdown li span {
    font-size: 80px;
    font-weight: 300;
    line-height: 80px;
}

ul.countdown li.seperator {
    font-size: 80px;
    line-height: 70px;
    vertical-align: top;
}

ul.countdown li p {
    color:#666;
    font-size: 14px;
}

/*head2 search */
#search {

    height: 60px;
    width: 250px;
//border : solid 1 px blue;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 150px;
    /*position: absolute;*/
    /*top: 550px;*/
    z-index: 555;

}

/* lunbo */
#pic{
    width: 500px;
    height: 330px;
//border: solid 1px #000000;
}

#pic #po {
    width: 500px;
    overflow: hidden;
    height: 330px;
//border: solid 1px #000000;
    left: 0px;;
    top: 0px;
//position: relative;
}

#pic #pol {
//width: 2370px;
    height: 165px;
    position: absolute;
}

#pic #num {
    width: 120px;
    height: 25px;
    position: absolute;
    z-index: 2;
    left: 380px;
    top: 300px;
}

#pic #num span {
    width: 10px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 12px;
    height: 20px;
    float: left;
    color: #000000;
    text-align: center;
}

#pic #num span.cut {
    background: #000000;
    color: #FFFFFF;
}

img {
    width: 500px;
    height: 330px;
    float: left
}

/*search.jsp*/
#input1 {
    width: 150px;
    height: 20px;
}

#button {
    width:60px;
    height: 28px;
    color: white;
    background-color: #000000;
// border-radius: 20px;
}

#div02 {
    border: solid 1px transparent;
    width: 250px;
    z-index:1000;
    background-color: white;
    display: none;