@charset "utf-8";
/* CSS Document */

*{
	margin:0;
	padding:0;
}
body {
	font: 14px Arial;
	margin: 0 auto;
	padding: 0;
	position: relative;
	background-color:#F4E8AE;
}
.container { 
     margin: 25px auto; 
	 position: relative;  
	 height:650px;
}
#left-slide{
	position:relative;
	padding:0;
//	border: 1px solid red;
	margin-left: 60px;
	overflow: hidden;
}
#left-slide ul{
	position: relative;
	padding: inherit;
	margin: 0;
}
#left-slide ul li{
	float: left;
	padding: inherit;
	margin: inherit;
	list-style: none;
}
#left-slide ul li img{
	width: 700px;
	height: 560px;
}
#left-slide ol{
	position:relative;
	width: 200px;
	height: 15px;
	top:-25px;
	left:270px;
}
#left-slide ol li{
	float:left;
	list-style:none;
	width: 15px;
	height: 15px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	margin: 5px;
	background: #fff;
}
#left-slide ol li.seleted{
	background: #7D4B83;
}
#loginRegister{
	width:310px;
	height:500px;
//	border: 1px solid #000000;
	position: absolute;
	top:60px;
	left:900px;
	background-color: #FFFFFF;
	font-family: "微软雅黑";
	-webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
	-moz-box-shadow: 1px 1px 5px rgba(0,0,0,0.3);;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.3);;
	background: rgba(255,255,255,0);
}
#loginRegisterBg{
	position: absolute;
	top:-100px;
}
#loginRegister-title{
	width: 324px;
	height: 48px;
	padding-top: 14px;
	position: absolute;
	top: 21px;
	left: -7px;
	background: url(../p/source/loginRegister-title.png) no-repeat;
}
#loginRegister-title p{
	width: 50%;
	height: 48px;
	float: left;
	line-height: 48px;
	text-align: center;
	color: #fff;
	font-size: 14px;
	cursor: pointer;
}
.titleBg{
	background-color:#6a3a6d;;
}
#loginRegister h1 {
	width:310px;
	text-align: center;
	color: #7E7E7E;
	font: bold 20px "幼圆";
	line-height: 20px;
	margin: 10px 0 30px;
	position: relative;
}
#loginRegister h1:before,
#loginRegister h1:after {
	content: "";
	height: 1px;
	position: absolute;
	top: 10px;
	width: 27%;
}
/* 账户登录前后横线 */
#loginRegister h1:after {
	background: rgb(126,126,126);
	background: -moz-linear-gradient(left,  rgba(126,126,126,1) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(left, rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(left,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(left,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
	background: linear-gradient(left,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
    right: 0;
}
#loginRegister h1:before {
	background: rgb(126,126,126);
	background: -moz-linear-gradient(right,  rgba(126,126,126,1) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(right,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(right,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(right,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
	background: linear-gradient(right,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
    left: 0;
}
#loginForm{
	width:310px;
	height:370px;
//	border: 1px solid red;
	margin-top: 100px;
}
form {
	margin: 0 20px;
	position: relative
}
form input[type="text"],
form input[type="password"] {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	border: 1px solid #c8c8c8;
	color: #777;
	font: 13px Helvetica, Arial, sans-serif;
	padding: 15px 10px 15px 40px;
	width: 80%;
}
form input[type="text"]{
	background:#eae7e7 url(../p/loginpic/user.png) no-repeat;
	margin-top:10px;
}
form input[type="password"] {
	background:#eae7e7 url(../p/loginpic/pw.png) no-repeat;
	background-position:left;
	margin-top:10px;
}
form input[type="text"]:focus,
form input[type="password"]:focus {
	background-color: #fff;
	border: 1px solid #ed1c24;
	outline: none;
}
#loginForm form input[type="submit"] {
	background: rgb(254,231,154);
	background: -moz-linear-gradient(top,  rgba(254,231,154,1) 0%, rgba(254,193,81,1) 100%);
	background: -o-linear-gradient(top,  rgba(254,231,154,1) 0%,rgba(254,193,81,1) 100%);
	background: -ms-linear-gradient(top,  rgba(254,231,154,1) 0%,rgba(254,193,81,1) 100%);
	background: linear-gradient(top,  rgba(254,231,154,1) 0%,rgba(254,193,81,1) 100%);
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	border-radius: 30px;
	border: 1px solid #D69E31;
	color: #85592e;
	cursor: pointer;
	font: bold 15px Helvetica, Arial, sans-serif;
	height: 35px;
	width: 120px;
	margin:30px auto;
	margin-left: 70px;
	position: relative;

}
#loginForm form input[type="submit"]:hover {
	background: rgb(254,193,81);
	background: -moz-linear-gradient(top,  rgba(254,193,81,1) 0%, rgba(254,231,154,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(254,193,81,1) 0%,rgba(254,231,154,1) 100%);
	background: -o-linear-gradient(top,  rgba(254,193,81,1) 0%,rgba(254,231,154,1) 100%);
	background: -ms-linear-gradient(top,  rgba(254,193,81,1) 0%,rgba(254,231,154,1) 100%);
	background: linear-gradient(top,  rgba(254,193,81,1) 0%,rgba(254,231,154,1) 100%);
}
#forgetPW,#register{
	font-family:"微软雅黑";
	font-size:16px;
	padding:5px 0;
	position:relative;
	top:-10px;
	left:60px;
}
#forgetPW span,#register span{
	padding-right:5px;
}
#forgetPW a,#register a{
	color:#F60;
	text-decoration:none;
}
#thirdLogin{
	margin:25px 0;
	position:relative;
}
#thirdLogin h1{
	margin-bottom:15px;
}
#thirdLogin ul{
	position:relative;
	list-style:none;
	top:-10px;
	left:15px;

}
#thirdLogin ul li{
	display:block;
	float:left;
	padding-right:10px;
}
#thirdLogin #weixin{
	padding-left:8px;
}
#thirdLogin #qq a:hover{
	-webkit-filter: drop-shadow(3px 3px 10px #3CF);
    filter: drop-shadow(3px 3px 10px #3CF);
}
#thirdLogin #weixin a:hover{
	-webkit-filter: drop-shadow(3px 3px 10px #0C0);
    filter: drop-shadow(3px 3px 10px #0C0);
}
#thirdLogin #weibo a:hover{
	-webkit-filter: drop-shadow(3px 3px 10px #F33);
    filter: drop-shadow(3px 3px 10px #F33);
}
#registerForm{
	width:310px;
	height:370px;
//	border: 1px solid red;
	margin-top: 100px;
	font-family: "microsoft yahei", "微软雅黑";
	display: none;
}
#registerForm .Register-code input[type="text"]{
	width:110px;
	background-image: none;
	font-family: "microsoft yahei", "微软雅黑";
}
#registerForm .Register-code input[type="button"]{
	background-color:#6a3a6d ;
	height:45px;
	width:100px;
	border: none;
	color:#ffffff;
	font-family: "microsoft yahei", "微软雅黑";
}
#registerForm .register-submit input[type="submit"]{
	width:180px;
	height:40px;
	margin:30px auto;
	margin-left: 45px;
	font-family: "microsoft yahei", "微软雅黑";
	font-size: 16px;
	background-color: #FFA300;
	border: none;
	color:#ffffff;
}
