.simpleAlert{
    position: fixed;
    z-index: 1000;
}
.simpleAlertShelter{
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    background-color: #000;
    opacity: 0.3;
    filter:alpha(opacity=30);
}
.simpleAlertBody{
    position:fixed;
    display: none;
    width: 450px;
    height: 700px;
    top:20%;
    left:40%;
    opacity:0;
    background: url("../p/source/personal-card.png") no-repeat;
}
.simpleAlertBodyClose{
    position: absolute;
    width: 14px;
    height: 14px;
    top:130px;
    right: 15px;
    padding: 5px;
    cursor: pointer;
}
.simpleAlertBodyContent{
    position: absolute;
    top:25%;
//    border: 1px solid red;
    height:380px;
    width:400px;
    overflow-y:auto;
    left: 2%;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: #333;
    list-style: none;
    font-family: "microsoft yahei", "微软雅黑";
}
.simpleAlertBodyContent li{
 //   border: 1px solid black;
    height:30px;
    line-height: 30px;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 19px;
    position: relative;
}
.simpleAlertBodyContent li span{
    display: inline-block;
    font-weight: normal;

}
.simpleAlertBodyContent li span:nth-child(1){
    color:#acacac;
  //  border: 1px solid yellow;
    width:80px;
    position: absolute;
left:15px;
}
.simpleAlertBodyContent li span:nth-child(2){
    width:220px;
  //  border: 1px solid blue;
    text-align: left;
   position: absolute;
    left:150px;
}
.simpleAlertBtn{
    position:absolute;
    width: 70px;
    height: 34px;
    top:67%;
    border: 1px solid #bfbfbf;
    cursor:pointer;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    font-family: "microsoft yahei", "微软雅黑";
}
.simpleAlertBtn1{
    background-color: #826289;
    left: 50px;
}
/*.simpleAlertBtn2{
    background-color: #f7f7f7;
    color: #333;
    right: 25%;
}*/
.onlyOne{width: 200px;height: 36px;left: 138px;}