@charset "utf-8";
/* CSS Document */
*{
	padding:0;
	margin:0;
	}
body{
	font-family:"微软雅黑";
	background-color:#EEE;
}
#content{
	width:1200px;
	height:auto;
	margin:0 auto 0 auto;
	padding-bottom: 30px;
	background-color: #ffffff;
}
#basicinfo{
	width:1200px;
	height:470px;
	margin-left:auto;
	margin-right:auto;
}
.pic{
	width:320px;
	height:420px;
	position:relative;
	margin-top:20px;
	-webkit-box-shadow: 0 0 3px #999; /* 阴影 */
    -moz-box-shadow:0 0 3px #999;
    -ms-box-shadow:0 0 3px #999;
    -o-box-shadow:0 0 3px #999;
	box-shadow:0 0 3px #999;
}
.info{
	width:860px;
	height:420px;
	background:white;
	position:absolute;
	top:145px;
	left:500px;
	-webkit-box-shadow: 0 2px 3px #999; /* 阴影 */
    -moz-box-shadow:0 2px 3px #999;
    -ms-box-shadow:0 2px 3px #999;
    -o-box-shadow:0 2px 3px #999;
	box-shadow:0 2px 3px #999;
}
.info:after{
	content:"";
	display:block;
	width:96px;
	height:68px;
	position:absolute;
	top:-1px;
	right:-5px;
	background-image:url(../p/source/corner.png);
}
.info ul{
	margin-top:45px;
	margin-left:85px;
}
.info ul li{
	list-style:none;
	padding-bottom:13px;
	font-size:18px;
}
.info .name{
	font-size:28px;
	color:#67376D;
	padding-bottom:30px;
}
.info .holder:before{
	content:url(../p/source/holder.png);
	position:absolute;
	left:45px;
}
.info .time:before{
	content:url(../p/source/time%20.png);
	position:absolute;
	left:45px;
}
.info .address:before{
	content:url(../p/source/addresss.png);
	position:absolute;
	left:45px;
}
.info .joinumber:before{
	content:url(../p/source/joinumber.png);
	position:absolute;
	left:45px;
}
	
.click{
	margin-top:30px;
	margin-left:75px;
}
.click span{
	display:inline-block;
	font-size:19px;
	width:70px;
	height:30px;
	line-height:30px;
	margin-right:160px;
}
.click a{
	text-decoration:none;
	color:#000;
}
.click .join:before{
	content:url(../p/source/join.png);
	position:absolute;
	left:45px;
	top:290px;
}
.click .follow:before{
	content:url(../p/source/follow.png);
	position:absolute;
	left:275px;
	top:293px;
}
.click .share:before{
	content:url(../p/source/share.png);
	position:absolute;
	left:500px;
	top:290px;
}
.welcome{
	width:250px;
	height:50px;
	line-height:50px;
	margin-left:500px;
	margin-top:25px;
	font-size:20px;
	color:#FF9801;
}
.welcome p:before{
	content:url(../p/source/voice.gif);
	position:absolute;
	left:460px;
	top:350px;
}
#content .title{
	font-size:28px;
	color:#673882;
	letter-spacing:3px;
	}
#holder{
	width:1100px;
	height:auto;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	padding-top:40px;
	background-color: #ffffff;
}
.club{
	margin-top:10px;
	border:1px solid #999;
}
.club .picture{
	width:187px;
	height:187px;
	padding-top:20px;
}
.club .clubname{
	position:absolute;
	margin-left:280px;
	margin-top:-170px;
}
.club .clubname a{
	display:inline-block;
	text-decoration:none;
	color:#666;
}
.club .clubname a:hover{
	color:#8080C0;
}
.club .follow{
	position:absolute;
	margin-top:-135px;
	margin-left:320px;
	font-size:20px;
	color:#666;
}
.club .follow:before{
	position:absolute;
	content:url(../p/source/followbefore.png);
	left:-30px;
}
.club .follow:hover::before{
	content:url(../p/source/followafter.png);
}
.club .join{
    position:absolute;
	width:110px;
	height:30px;
	font-size:20px;
	text-align:center;
	margin-top:-95px;
	margin-left:270px;
	border:2px solid #fce075;
	background-color:#fce075;
	-webkit-transition: all 0.5s ease; /* 过渡 */
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.club .join:hover{
	cursor:pointer;
	-webkit-box-shadow: 0 0 5px #999; /* 阴影 */
    -moz-box-shadow:0 0 5px #999;
    -ms-box-shadow:0 0 5px #999;
    -o-box-shadow:0 0 5px #999;
	box-shadow:0 0 5px #999;
}
.club .introduction{
	position:absolute;
	width:600px;
	height:120px;
	overflow:auto;
	margin-top:-170px;
	margin-left:450px;
	font-size:16px;
	color:#666;
}
#huodongxiangqing{
	width:1100px;
	height:auto;
	margin:35px auto 0 auto;
	background-color: #ffffff;
}
#huodongxiangqing .information{
	margin-top:10px;
	border:1px solid #999;
	padding:15px;
}
#jingcaishunjian{
	position: relative;
	width:1100px;
	height:auto;
	margin:35px auto 0 auto;
	background-color: #ffffff;
}
.leftbtn{
	width:50px; 
	height:50px;
	background:url(../p/source/left.png) no-repeat;
	position:absolute;
	margin-left:-55px;
	margin-top: 60px;
	cursor:pointer;
}
.rightbtn{
	width:50px; 
	height:50px; 
	background:url(../p/source/right.png) no-repeat;
	position:absolute;
	margin-left:1100px;
	margin-top: 60px;
	cursor:pointer;
}
#jingcaishunjian .jingcaishunjian1{
	width:1100px;
	overflow:hidden;
	margin:15px auto 0 auto;
}
#jingcaishunjian ul{
	width:1500px;
	margin-bottom:25px;
	overflow:hidden; 
	background-color:#CCC;
}
#jingcaishunjian ul li{
	position:relative;
	list-style:none;
	width:140px;
	height:105px;
	float:left;
	display:inline-block;
	margin:15px;
	margin-left:28px;
}
#jingcaishunjian figure figcaption{
	width:135px;
	height:5px;
	text-align:center;
	background:rgba(0,0,0,0.8);/*透明背景色，不透明其文字内容*/    position:absolute;
	left:0;
	bottom:0;
	color:#CCC;
	-webkit-transition:all 0.35s;
	transition:all 0.35s;
}
#jingcaishunjian ul li a:hover figcaption{
	height:25px;
}
#jingcaishunjian ul li a{
	display:block;
	overflow:hidden;
	cursor:pointer;
}
#jingcaishunjian ul li img{
	width:135px;
	height:100px;
}
/* jQuery jcLightBox css */
#jc-Mod { 
    position:absolute; 
    z-index:99;
    display:none; 
    left:0; 
    right:0; 
    bottom:0; 
    top:0; 
    cursor:pointer;
}
#jc-Box { 
    position:absolute; 
	left:0; 
	top:0; 
	z-index:100; 
	display:none; 
}
#box-top { 
    height:24px; 
	position:relative; 
	background:url(../p/source/box-top.png) 
	repeat-x 0 0; 
}
#box-top-left { 
    background:url(../p/source/box-ra.png) no-repeat 0 0; 
	height:24px; 
	width:24px; 
	position:absolute; 
	left:-24px; 
	top:0;
}
#box-top-right { 
    background:url(../p/source/box-ra.png) no-repeat -25px 0;    height:24px; 
	width:24px; 
	position:absolute; 
	right:-24px; 
	top:0; 
}
#box-btm { 
    height:24px; 
	position:relative;  
	background:url(../p/source/box-bottom.png) repeat-x 0 0;
 }
#box-btm-left { 
    background:url(../p/source/box-ra.png) no-repeat 0 -25px; 
	height:22px; 
	width:24px; 
	position:absolute; 
	left:-24px; 
	top:0; 
}
#box-btm-right { 
    background:url(../p/source/box-ra.png) no-repeat -25px -25px;     height:22px; 
	width:24px; 
	position:absolute; 
	right:-24px; 
	top:0; 
}
#box-cen { 
    background:url(../p/source/box-left.png) repeat-y 0 0; 
	position:relative; 
	left:-24px;
}
#box-cen-right { 
    background:url(../p/source/box-right.png) repeat-y right 0;     position:relative; 
	right:-48px;
}
#box-cen-img { 
    position:relative; 
	left:-24px; 
	background:#000; 
}
#box-pn { 
    position:absolute; 
	left:10px; 
	top:32px; 
	height:30px; 
	width:70px;
	z-index:101;
 }
#box-prev { 
    background:#000; 
	float:left; 
	width:32px; 
	height:30px; 
	cursor:pointer; 
}
#box-next { 
   background:#000; 
   float:right;
   width:32px; 
   height:30px; 
   cursor:pointer;
  }
#box-pn a { 
   display:block; 
   height:20px; 
   position:relative; 
   top:5px; 
   left:5px; 
   background:url(../p/source/sprite.png) no-repeat;
}
#box-next a { 
   background-position:0 -20px; 
}
#box-prev a { 
   background-position:0 -40px; 
}
#box-close { 
   background:url(../p/source/box-close.png) no-repeat; 
   height:60px; 
   width:42px; 
   position:absolute; 
   top:14px; 
   right:-50px; 
   cursor:pointer; 
   z-index:101; 
}
#box-close a { 
   display:block; 
   height:20px; 
   position:relative; 
   top:20px; 
   left:8px; 
   background:url(../p/source/sprite.png) no-repeat 0 0;
}
#box-text { 
   height:50px; 
   position:absolute; 
   left:0; 
}
#box-text samp { 
   display:block; 
   position:absolute; 
   background:url(../p/source/arrow.png) no-repeat; 
   height:12px; 
   width:12px; 
   left:48%; 
   top:-8px; 
   z-index:1;
 }
#box-text-left { 
   background:url(../p/source/box-text.png) no-repeat; 
   height:50px; 
   width:10px; 
   position:absolute; 
   left:0; 
   top:0;
}
#box-text-cen { 
   color:#fff; 
   text-shadow:1px 1px 0 #000; 
   text-align:center; 
   background:url(../p/source/box-text-cen.png) repeat-x; 
   height:50px; 
   line-height:50px; 
   margin:0 10px; 
   padding:0 30px; 
   font-size:15px;
   overflow:hidden;
}
#box-text-right { 
   background:url(../p/source/box-text.png) no-repeat right 0;   height:50px; 
   width:10px; 
   position:absolute; 
   right:0; 
   top:0;
}
#textarea{
	width:1200px;
	margin:20px auto;
	padding-bottom: 20px;
	background-color: #ffffff;
	-webkit-box-shadow: 0 0 3px #999; /* 阴影 */
	-moz-box-shadow:0 0 3px #999;
	-ms-box-shadow:0 0 3px #999;
	-o-box-shadow:0 0 3px #999;
	box-shadow:0 0 3px #999;
}
#textarea .title{
	height:50px;
	color:#333;
	margin:10px auto auto 15px;
	font-size:25px;
	text-align:center;
	line-height:50px;
}
#textarea .title:before,
#textarea .title:after {
	content: "";
	height: 0.8px;
	position:absolute;
	width: 5%;
	top:1460px;
	background-color:#333;
}
#textarea .title:before{
	left:620px;;
}
#textarea .title:after{
	right:600px;
}
#area{
	width:1100px;
	margin:10px auto;
}
#area #publisharea{
	width:1100px;
	height:120px;
	margin-top: 15px;
	margin-bottom: 15px;
	overflow: auto;
	background-color:rgb(243,243,243);
}
#area #publishsubmit{
	width:100px;
	height:30px;
	float: right;
	font-family: "微软雅黑";
	color:#ffffff;
	font-size: 16px;
	background-color: rgb(105,57,111);
}
#messageshow{
	width:1100px;
	height:auto;
	margin:80px auto;
	background-color: #ffffff;
	border-top:1px solid #dddddd;
}
#messageshow ul{
	width:1100px;
	overflow: hidden;
	margin: 30px auto;
//	border:1px solid #000000;
}
#messageshow ul li{
	list-style: none;
	margin-bottom: 25px;
	padding-bottom: 35px;
	border-bottom:1px solid #dddddd;
}
#messageshow ul li .headpic{
	margin-top: 5px;
	margin-left: 15px;
}
#messageshow ul li .username{
	margin-top: 10px;
	margin-left: 15px;
}
#messageshow ul li .username span:nth-child(1){
	color:#888888;
}
#messageshow ul li .usertext{
//	border:1px solid #000000;
	margin-left: 100px;
	margin-top: -75px;
}
#messageshow ul li .publishtime{
	color:#888888;
	margin-left: 100px;
	margin-top: 30px;
}
#messageshow ul li .replybutton{
	width:100px;
	height:30px;
	float: right;
	font-family: "微软雅黑";
	color:#ffffff;
	font-size: 16px;
	background-color: rgb(105,57,111);
}
#messageshow .reply{
	width:1000px;
	height:130px;
	margin: 40px 10px 15px 80px;
}
#messageshow .reply .replytextarea{
	width:1000px;
	height:110px;
	font-family: "微软雅黑";
	background-color:rgb(243,243,243);
}
#messageshow .reply .replysubmit{
	width:70px;
	height:30px;
	text-align: center;
	font-size: 14px;
	float: right;
	font-family: "微软雅黑";
	background-color: #ffffff;
	border: 1px solid rgb(105,57,111);
}
#messageshow .replyshow{
	width:1000px;
	height:auto;
	margin: 40px 10px 15px 80px;
	background-color:rgb(243,243,243);
}
#messageshow .replyshow ul{
	width:1000px;
}
#messageshow #nextpage{
	width:100px;
	height:30px;
	float: right;
	font-family: "微软雅黑";
	font-size: 16px;
	background-color: #ffffff;
	border:1px solid  rgb(105,57,111);
}