*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(238,238,238);
}
#header1 {
    height: 30px;
    background-color: #4D4D4D;
    text-align: right;
    line-height: 30px;
    font-size: 13px;
    font-family: "微软雅黑";
}
#header1 a:nth-child(1){
    float: left;
    margin-left: 30px;
}
#header2{
    height:90px;
    background-color: #ffffff;
    font-family: "微软雅黑";
//    border:1px solid red;
}
#logo{
    float: left;
    height: 90px;
    margin-left:30px;
    line-height: 90px;
//    border : 1px solid #000000;
}
#navilist{
    height:90px;
    width:700px;
// border:1px solid yellow;
    margin: 0 auto;
    overflow: hidden;
}
#navilist p{
    width:200px;
    height:60px;
   // border:1px solid #000000;
    margin-left: 20%;
    margin-top:15px;
    font-size: 35px;
    text-align: center;
}
#content{
    width:900px;
    height:900px;
    margin: 40px auto 0 auto;
//    border:1px solid red;
    background-color: #ffffff;
}
#messageList{
    width:850px;
    height:800px;
    background-color: #ffffff;
 //   border:1px solid red;
    font-family: "微软雅黑";
    margin: auto;
    padding: 20px;
    list-style: none;
}
#messageList li{
    width:820px;
    height:50px;
    border-bottom:1px solid #BBBBBB;
    padding: 5px;
    padding-bottom: 15px;
    margin: 10px auto;
    position: relative;
}
.messageInfo{
    margin-bottom: 5px;
}
.list .userName{
    color:#626262;
    text-decoration: underline;
    cursor: pointer;
}
.list .clubName,
.list .activityName{
    color:#D69E31;
    cursor: pointer;
}
.handleButton{
    width:200px;
    height:30px;
  //  border: 1px solid red;
    position: absolute;
    right:100px;
}
.handleButton button{
    width:80px;
    height:30px;
    font-family: "microsoft yahei", "微软雅黑";
    margin-left: 10px;
    font-size: 16px;
}
.handleButton .agree{
    border:none;
    background: #67376D;
    color: #FFFFFF;
}
.handleButton .disagree{
    border:none;
    background: #F39C0C;
    color: #FFFFFF;
}
#nextPage{
    width:800px;
    height:35px;
    line-height:35px;
    margin:20px auto;
 //   border:1px solid #000000;
    background-color:white;
    color:#666;
    font-family:"微软雅黑";
}
#nextPage ul{
    width:500px;
    margin-left:auto;
    margin-right:auto;
    list-style:none;
    overflow:hidden;
}
#nextPage ul li{
    display:inline;
    float:left;
    margin-left:25px;
    padding-left:8px;
    padding-right:8px;
    border:1px solid #CCC;
}
#nextPage ul li:hover {
    background-color: #FC6;
    cursor: pointer;
}