@charset "utf-8";
/* CSS Document */
*{
	margin:0;
	padding:0;
}
body {
	font: 14px Arial;
	margin: 0 auto;
	padding: 0;
	position: relative;
	background-color:#EEE;
}
#club{
	  height:auto;
      width:1200px;
	//  border:1px solid #000;
      background-color: white;
      margin-left: auto;
      margin-right: auto;
	  padding-bottom:80px;
}
.club-show{
	list-style: none;
	width:1100px;
	height:500px;
//   border: 1px solid #000000;
	background-color: #ffffff;
	margin: 0px auto;
}
.club-show li{
	float:left;
	margin-top: 30px;
	margin-left:50px;
	margin-right: 50px;
	background-color: #ffffff;
}
.club-show li a.club{
	display: block;
	width:152px;
	height:152px;
	border:7px solid #7D4B83;;
	-webkit-border-radius: 50%;
	-moz-border-radius:50%;
	border-radius:50%;
	background: no-repeat center;
	background-size: cover;
	position: relative;
	z-index: auto;
	overflow: visible;
	-webkit-transition: all 0.4s ease-in 0.3s ;
	-moz-transition:  all 0.4s ease-in 0.3s;
}
.club-show li a.club.pic1{
	background-image: url("/schoolclub/images/club/club3.png");
}
.club-show li a.club.pic2{
	background-image: url("/schoolclub/images/club/club3.png");
}
.club-show li a.club.pic3{
	background-image: url("/schoolclub/images/club/club3.png");
}
.club-show li a.club.pic4{
	background-image: url("/schoolclub/images/club/club3.png");
}
.club-show li .text {
	width: 152px;
	height: 152px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
//  border: 1px solid #000;
	z-index: 0;
	background-color: #000;
	color: #fff;
	font-weight: 800;
	position: absolute;
	top: 0px;
	left: 0px;
	opacity: 0;
	transition: all 0.2s ease-in 0.2s;
	-webkit-transition: all 0.2s ease-in 0.2s ;
	-moz-transition:  all 0.2s ease-in 0.2s;
}
a.club:hover .text{
	opacity: 0.6;
}
.smallTitle,
.address {
	width: 100px;
	height: 30px;
	text-align: center;
//       border: 1px solid red;
	line-height: 30px;
	margin: 0 auto;
	font-family: "微软雅黑";
	font-size: 15px;
	background-color: #000;
	opacity: 0.6;
}
.smallTitle:hover,
.address:hover{
	cursor: pointer;
}
.smallTitle{
	margin-top: 40px;
}
.footer-text{
	font-family: "微软雅黑";
	background-color: #ffffff;
}
.footer-text a{
	text-decoration: none;
	color:#000000;
	background-color: #ffffff;
}
.footer-text .clubtitle{
	width:150px;
	height:30px;
	line-height: 30px;
	text-align: center;
//    border:1px solid #000000;
	background-color: #ffffff;
	margin-top: 5px;
}
.footer-text .follow{
	display: block;
	color:#666;
	width:120px;
	height: 32px;
	text-align: right;
//  border:1px solid #000000;
	background-color: #ffffff;
	margin-top: 5px;
	background: url("/schoolclub/images/source/followbefore.png") no-repeat;
	background-position: 55px 0px;
}
.club  li:hover .follow{
	cursor:pointer;
}
.pagecut{
	width:1200px;
	height:100px;
	line-height:35px;
	margin:0 auto;
	padding-bottom:40px;
	background-color:white;
	color:#666;
	font-family:"微软雅黑";
}
.pagecut ul{
	width:500px;
	margin-left:auto;
	margin-right:auto;
	list-style:none;
	overflow:hidden;
}
.pagecut ul li{
	display:inline;
	float:left;
	margin-left:25px;
	padding-left:8px;
	padding-right:8px;
	border:1px solid #CCC;
}
.pagecut ul li:hover{
	background-color:#FC6;
	cursor:pointer;
}