*{
    margin:0;
    padding: 0;
}
#news{
	width:1200px;
	height:auto;
	margin:50px auto;
}
#news .newslist{
	width:100%;
	height:auto;
}
#news .news{
	position: relative;
	width:1100px;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 20px;
	padding-bottom:30px;
	list-style:none;
	border:1px solid #CCC;
	background-color:#fff;
	-webkit-box-shadow: 0 0 3px #999; /* 阴影 */
    -moz-box-shadow:0 0 3px #999;
    -ms-box-shadow:0 0 3px #999;
    -o-box-shadow:0 0 3px #999;
	box-shadow:0 0 3px #999;
}
#news .news a{
	display:block;
	text-decoration: none;
	color:#000;
}
#news .news img{
	margin:20px 25px 15px 25px;
}
#news .title{
	font-size:24px;
	font-family:"微软雅黑";
	margin-left:20px;
	margin-top: 15px;
	margin-bottom:10px;
}
#news .address,#news .time{
	font-size:18px;
	font-family:"微软雅黑";
	margin-left:30px;
	margin-bottom:10px;
}
#news .address:before{
	content:url(/schoolclub/images/source/addresss.png);
}
#news .time:before{
	content:url(/schoolclub/images/source/time2.png);
}
.countdownWrapper{
	width:600px;
	height:180px;
//	border:1px solid black;
	position: absolute;
	top:530px;
	left:420px;
}
.countdownWrapper p{
	font-size: 12px;
	color:#666666;
	font-family:"微软雅黑";
	width:100px;
	height:20px;
	text-align: center;
	margin-left:auto;
	margin-right: auto;
	margin-bottom: 0;
}
ul.countdown {
	width:600px;
	height:80px;
	list-style: none;
	display: block;
	text-align: center;
}

ul.countdown li {
	display: inline-block;
}

ul.countdown li span {
	font-size: 80px;
	font-weight: 300;
	line-height: 80px;
}

ul.countdown li.seperator {
	font-size: 80px;
	line-height: 70px;
	vertical-align: top;
}

ul.countdown li p {
	color:#666;
	font-size: 14px;
}