@charset "utf-8";
/* CSS Document */
*{
	padding:0;
	margin:0;
	}
body{
	font-family:"微软雅黑";
	background-color:#EEE;
}
#basicinfo{
	width:1200px;
	height:480px;
	margin-top:10px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:15px;
	padding-bottom:10px;
}
.pic{
	width:312px;
	height:450px;
	position:relative;
	margin-top:30px;
	margin-left:0;
	background-color: #ffffff;
}
.pic .picinfo{
	width:312px;
	height:342px;
	background-image:url(/schoolclub/images/source/clubbg.jpg) ;
	background-repeat: no-repeat;
}
.pic .picinfo img{
	margin-top: 70px;
	margin-left: 70px;
}
.pic .picinfo .pictext{
	position:absolute;
	width:312px;
	height:70px;
	text-align:center;
	background-color:rgba(0,0,0,0.6);
	margin-top:40px;
	font-size: "微软雅黑";
	color:#ffffff;
	-webkit-transition:all 0.35s;
	transition:all 0.35s;
}
.pic .picinfo .pictext h3{
	-webkit-transition:-webkit-transform 0.35s;
	transition:transform 0.35s;
	margin-top: 20px;
}
.pic .picinfo .pictext p {
	font-size:18px;
	opacity:0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
}
.picinfo:hover .pictext{
	-webkit-transform: translate3d(0,-30px,0);
	transform: translate3d(0,-30px,0);
	height:100px;

}
.picinfo:hover .pictext h3 {
	-webkit-transform: translate3d(0,-10px,0);
	transform: translate3d(0,-10px,0);
}

.picinfo:hover .pictext p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
.text{
	position:relative;
	width: 312px;
	height:100px;
	text-align: center;
}
.text span{
	display: block;
	font-size: 18px;
	padding: 5px;
	cursor: pointer;
	width:150px;
	height:30px;
	line-height: 30px;
	text-align: center;
//	border: 1px solid red;
	margin: 0 auto;
}
.text .follow{
	margin-top: 5px;
	position: relative;
}
.text .follow i{
	width:30px;
	height:30px;
//	border: 1px solid yellow;
	position: absolute;
	top:5px;
	left:25px;
	background: url("/schoolclub/images/source/followbefore.png") no-repeat;
}
.text .join{
	width:100px;
	height:25px;
	line-height: 25px;
	margin-top: 5px;
	border: none;
	background-color:#fce075;
}
.info{
	width:830px;
	height:450px;
	background-color: #ffffff;
	position:absolute;
	top:155px;
	left:520px;
}
.info:after{
	content:"";
	display:block;
	width:600px;
	height:257px;
	position:absolute;
	top:210px;
	right:-25px;
	background-image:url(/schoolclub/images/source/border.png);
}
.info ul{
	margin-left: 60px;
}
.info ul li{
	list-style:none;
	padding-bottom:13px;
	font-size:18px;
}
.info ul .name{
	font-size:36px;
	color:#666;
	margin-top: 15px;
	margin-bottom: 15px;
}
.info ul .address:before{
	position:absolute;
	content:url(/schoolclub/images/source/address.png);
	left:8px;
	top:90px;
}
.info ul .property:before{
	content:url(/schoolclub/images/source/property.png);
	position:absolute;
	left:8px;
}
.info ul .size:before{
	position:absolute;
	content:url(/schoolclub/images/source/number.png);
	left:8px;
}
.info ul .introduction{
	background-color:#fff;
    width:700px;
    height:120px;
    overflow:auto;
}
.info ul .introduction:before{
	position:absolute;
	content:url(/schoolclub/images/source/introduction.png);
	left:8px;
}
#framework{
	width:1200px;
	height:150px;
	margin-left:auto;
	margin-right:auto;
	background-color:#fff;
	-webkit-box-shadow: 0 0 3px #999; /* 阴影 */
    -moz-box-shadow:0 0 3px #999;
    -ms-box-shadow:0 0 3px #999;
    -o-box-shadow:0 0 3px #999;
	box-shadow:0 0 3px #999;
}
#framework .title{
	height:50px;
	color:#333;
	margin:10px auto auto 15px;
	font-size:25px;
	text-align:center;
	line-height:50px;
}
#framework .title:before,
#framework .title:after {
	content: "";
	height: 0.8px;
	position:absolute;
	width: 5%;
	top:680px;
	background-color:#333;
}  
#framework .title:before{
     left:620px;;
}
#framework .title:after{
     right:620px;
}
#department{
	width:650px;
	height:80px;
	text-align:center;
	margin-top:15px;
	margin-left:auto;
	margin-right:auto;
}
#department .department{
	display:inline-block;
	width:64px;
	height:64px;
	line-height:64px;
	margin-right:40px;
	margin-left:15px;
	font-size:16px;
	color:#fff;
	border-radius:50%;
}
#department .department:hover{
	color:#000;
}
.one{
	background-color:#f6c31c;
}
.two{
	background-color:#e04a4a;
}
.three{
	background-color:#f6c31c;
}
.four{
	background-color:#e04a4a;
}
.five{
	background-color:#f6c31c;
}
#activity {
	width: 1200px;
	height: auto;
	margin: 20px auto 0 auto;
	background-color: #fff;
	-webkit-box-shadow: 0 0 3px #999; /* 阴影 */
	-moz-box-shadow: 0 0 3px #999;
	-ms-box-shadow: 0 0 3px #999;
	-o-box-shadow: 0 0 3px #999;
	box-shadow: 0 0 3px #999;
}
.leftbtn{
	width:50px; 
	height:50px;
	background:url(/schoolclub/images/source/left.png) no-repeat;
	position:absolute;
	top:1060px;
	left:200px;
	cursor:pointer;
}
.rightbtn{
	width:50px; 
	height:50px; 
	background:url(/schoolclub/images/source/right.png) no-repeat;
	position:absolute;
	top:1060px;  
	right:180px;
	cursor:pointer;
}
#activity .title{
	height:50px;
	color:#333;
	margin:10px auto auto 15px;
	font-size:25px;
	text-align:center;
	line-height:50px;
}
#activity .title:before,
#activity .title:after {
	content: "";
	height: 0.8px;
	position:absolute;
	width: 5%;
	top:850px;
	background-color:#333;
}  
#activity .title:before{
     left:620px;;
}
#activity .title:after{
     right:620px;
}
#activity .activity1{
	width:950px;
	overflow:hidden;
	margin-left:auto;
	margin-right:auto;
}
#activity ul{
	width:1500px;
	margin-bottom:25px;
	overflow:hidden; /*解决浮动坍塌*/
}
#activity .activity{
	position:relative;
	list-style:none;
	width:280px;
	height:470px;
	float:left;
	display:inline-block;
	margin:15px 30px 30px 15px;
}
#activity .activity:hover{
	-webkit-box-shadow:0 0 3px #888888; /* 过渡 */
    -moz-box-shadow:0 0 3px #888888;
    -ms-box-shadow:0 0 3px #888888;
    -o-box-shadow:0 0 3px #888888;
    box-shadow:0 0 3px #888888;
    background-color:rgba(239,243,245,0.5)
}

#activity .activity img{
	position:relative;
	margin-left:20px;
	margin-top:15px;
	-webkit-transition: all 0.5s ease; /* 过渡 */
   -moz-transition: all 0.5s ease;
   -ms-transition: all 0.5s ease;
   -o-transition: all 0.5s ease;
   transition: all 0.5s ease;
	
}
#activity .activity h3{
	display:inline-block;
	margin-left:20px;
	margin-bottom:5px
}
#activity .activity p{
	display:inline-block;
	margin-left:20px;
	margin-top:0;
	margin-bottom:3px;
}
	
#activity .activity:hover img{
   -webkit-transform:scale(1.05); /* Safari Chrome*/
   -moz-transform:scale(1.05); /* Firefox */
   -ms-transform: scale(1.05); /* IE */
   -o-transform: scale(1.05); /* Opera */
   transform:scale(1.05); /* 标准语法 */
}
#textarea{
	width:1200px;
	margin:0 auto;
	padding-bottom: 20px;
	background-color: #ffffff;
	-webkit-box-shadow: 0 0 3px #999; /* 阴影 */
	-moz-box-shadow:0 0 3px #999;
	-ms-box-shadow:0 0 3px #999;
	-o-box-shadow:0 0 3px #999;
	box-shadow:0 0 3px #999;
}
#textarea .title{
	height:50px;
	color:#333;
	margin:10px auto auto 15px;
	font-size:25px;
	text-align:center;
	line-height:50px;
}
#textarea .title:before,
#textarea .title:after {
	content: "";
	height: 0.8px;
	position:absolute;
	width: 5%;
	top:1460px;
	background-color:#333;
}
#textarea .title:before{
	left:620px;;
}
#textarea .title:after{
	right:600px;
}
#area{
	width:1100px;
	margin:10px auto;
}
#area #publisharea{
	width:1100px;
	height:120px;
	margin-top: 15px;
	margin-bottom: 15px;
	overflow: auto;
	background-color:rgb(243,243,243);
}
#area #publishsubmit{
	width:100px;
	height:30px;
	float: right;
	font-family: "微软雅黑";
	color:#ffffff;
	font-size: 16px;
	background-color: rgb(105,57,111);
}
#messageshow{
	width:1100px;
	height:auto;
	margin:80px auto;
	background-color: #ffffff;
	border-top:1px solid #dddddd;
}
#messageshow ul{
	width:1100px;
	overflow: hidden;
	margin: 30px auto;
//	border:1px solid #000000;
}
#messageshow ul li{
	list-style: none;
	margin-bottom: 25px;
	padding-bottom: 35px;
	border-bottom:1px solid #dddddd;
}
#messageshow ul li .headpic{
	margin-top: 5px;
	margin-left: 15px;
}
#messageshow ul li .username{
	margin-top: 10px;
	margin-left: 15px;
}
#messageshow ul li .username span:nth-child(1){
	color:#888888;
}
#messageshow ul li .usertext{
//	border:1px solid #000000;
	margin-left: 100px;
	margin-top: -75px;
}
#messageshow ul li .publishtime{
	color:#888888;
	margin-left: 100px;
	margin-top: 30px;
}
#messageshow ul li .replybutton{
	width:100px;
	height:30px;
	float: right;
	font-family: "微软雅黑";
	color:#ffffff;
	font-size: 16px;
	background-color: rgb(105,57,111);
}
#messageshow .reply{
	width:1000px;
	height:130px;
	margin: 40px 10px 15px 80px;
}
#messageshow .reply .replytextarea{
	width:1000px;
	height:110px;
	font-family: "微软雅黑";
	background-color:rgb(243,243,243);
}
#messageshow .reply .replysubmit{
	width:70px;
	height:30px;
	text-align: center;
	font-size: 14px;
	float: right;
	font-family: "微软雅黑";
	background-color: #ffffff;
	border: 1px solid rgb(105,57,111);
}
#messageshow .replyshow{
	width:1000px;
	height:auto;
	margin: 40px 10px 15px 80px;
	background-color:rgb(243,243,243);
}
#messageshow .replyshow ul{
	width:1000px;
}
#messageshow #nextpage{
	width:100px;
	height:30px;
	float: right;
	font-family: "微软雅黑";
	font-size: 16px;
	background-color: #ffffff;
	border:1px solid  rgb(105,57,111);
}